<div itemscope itemtype="http://schema.org/LocalBusiness">
<div class="call-outs" role="contentinfo">
  <div class="row">
    <div class="large-6 columns">
      <h3 class="footer-header"><a href="/about">About The Popcorn Company</a></h3>
      <p itemprop="description">>We offer popcorn machines, popcorn supplies, cotton candy machines and supplies, shaved ice and snow cone makers, frozen drink machines, snack bar supplies and more! Servicing Southern California for over 30 years.</p>
    </div>
    <div class="large-2 columns">
      <h3 class="footer-header"><a href="/about">Products</a></h3>
      <ul>
        <li><a href="/rentals">Rentals</a></li>
        <li><a href="/machines">Machines</a></li>
        <li><a href="/supplies">Supplies</a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <h3 class="footer-header"><a href="/contact">Contact</a></h3>
      <p>Call <span itemprop="telephone">1-800-287-2676</span>! <br /><strong>Free delivery on all orders</strong>.</p>
      <p>Ship directly to <em>any location outside of California</em>.<p><meta itemprop="openingHours" content="Mo-Fr 8:00-16:30">
    </div>
  </div>
</div>
<footer class="bottom-bar">
  <div class="row">
    <div class="large-9 columns">
      <ul>
        <li>Medallion Distributor of Gold Medal products</li>
        <li>Authorized Distributor of Weaver Popcorn</li>
        <li>Authorized Distributor of Conagra</li>
      </ul>
      <a href="/">
        <img itemprop="image" src="/img/popcorn-company-logo.jpg" alt="The Popcorn Company Logo">
      </a>
    </div>
    <div class="large-3 columns text-right">
     Social Media Icons
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <p class="copyright text-left">&copy; <a class="credit-link" href="http://www.thepopcorncompanyllc.com" itemprop="url"><span itemprop="name">{{ site.constants.name }}</span></a>. All Rights Reserved.</p>
    </div>
    <div class="large-6 columns">
      <p class="credit text-right">Site by <a class="credit-link" href="http://ishmaelsanchez.com">Ishmael Sanchez</a></p>
    </div>
</footer>
</div>
  <script>
    document.write('<script src={{ site.baseurl }}/js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>')
  </script>
  <script src="{{ site.baseurl }}/js/foundation/foundation.js"></script>
  <script src="{{ site.baseurl }}/js/foundation/foundation.topbar.js"></script>
  <script src="{{ site.baseurl }}/js/foundation/foundation.clearing.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
