<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="{{ site.constants.encoding }}" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{{ page.description }}"/>
  <link rel="canonical" href="http://wwww.thepopcorncompanyllc.com" />
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.constants.name }}
  </title>
  <link rel="alternate" type="application/rss+xml" title="{{ site.constants.name }}" href="//feeds.feedburner.com/{{ site.constants.feed-name }}" />
  <link href="https://plus.google.com/u/0/109346816054868309576" rel="publisher">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/img/apple-touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/img/apple-touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/img/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Ribeye+Marrow' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/app.css" />
  <script src="/js/vendor/custom.modernizr.js"></script>
  {% include analytics.html %}
</head>
<body class="body">
