<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <div class="site-name"><a href="/" class="site-link">The Popcorn Company</a></div>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
        <li class="has-dropdown"><a href="#">Rentals</a>
          <ul class="dropdown">
            <li><a href="#">Popcorn Machines</a></li>
            <li><a href="#">Nacho Machines</a></li>
          </ul>
        </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Machines</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Popcorn</a>
            <ul class="dropdown">
              <li><a href="#">Kettle Corn</a></li>
              <li><a href="#">Caramel Corn</a></li>
            </ul>
          </li>
          <li><a href="#">Cotton Candy</a></li>
          <li><a href="#">Nachos</a></li>
          <li><a href="#">Snow Cones & Shaved Ice</a></li>
          <li><a href="#">Fryers</a></li>
          <li><a href="#">Frozen Drinks <label>Frushes</label></a></li>
          <li class="has-dropdown"><a href="#">Hot Dogs</a>
            <ul class="dropdown">
              <li><a href="#">Grillers</a></li>
              <li><a href="#">Steamers</a></li>
              <li><a href="#">Rotisserie</a></li>
            </ul>
          </li>
          <li><a href="#">Bakers</a></li>
          <li class="has-dropdown"><a href="#">Warmers</a>
            <ul class="dropdown">
              <li><a href="#">Pizza</a></li>
              <li><a href="#">Pretzel</a></li>
              <li><a href="#">Hot Dog</a></li>
              <li><a href="#">Nachos</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Supplies</a>
        <ul class="dropdown">
          <li><label>Describe the section?</label></li>
          <li><a href="#">Popcorn</a></li>
          <li><a href="#">Cotton Candy</a></li>
          <li><a href="#">Nachos</a></li>
          <li><a href="#">Snow Cones & Shaved Ice</a></li>
          <li><a href="#">Funnel Cake</a></li>
          <li class="has-dropdown"><a href="#">Syrups</a>
            <ul class="dropdown">
              <li><a href="#">Snow Cones</a></li>
              <li class="divider"></li>
              <li><a href="#">Frushes</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="#">Specialty</a>
            <ul class="dropdown">
              <li><a href="#">Waffle Mix</a></li>
              <li class="divider"></li>
              <li><a href="#">Caramel Apple</a></li>
            </ul>
          </li>
          <li><a href="#">Games</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="/about">About</a>
        <ul class="dropdown">
          <li><label>Maybe History?</label></li>
          <li class="has-dropdown"><a href="#" class="">Locations</a>
            <ul class="dropdown">
              <li><a href="#">Santa Ana</a></li>
              <li><a href="#">Canoga Park</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown"><a href="#">Test</a>
        <ul class="dropdown">
          <li><label>Dropdown Level 1 Label</label></li>
           <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Level 3a</a></li>
                <li><a href="#">Dropdown Level 3b</a></li>
                <li><a href="#">Dropdown Level 3c</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Level 2d</a></li>
            <li><a href="#">Dropdown Level 2e</a></li>
            <li><a href="#">Dropdown Level 2f</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </section>
</nav>
