<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <div class="site-name"><a href="/" class="site-link">The Popcorn Company</a></div>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
        <li class="has-dropdown"><a href="/rentals">Rentals</a>
          <ul class="dropdown">
            <li><a href="/rentals/popcorn-machines">Popcorn Machines</a></li>
            <li><a href="/rentals/nacho-machines">Nacho Machines</a></li>
          </ul>
        </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Machines</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="/popcorn">Popcorn</a>
            <ul class="dropdown">
              <li><a href="#">Kettle Corn</a></li>
              <li><a href="/popcorn/caramel-corn">Caramel Corn</a></li>
            </ul>
          </li>
          <li><a href="#">Cotton Candy</a></li>
          <li><a href="#">Nachos</a></li>
          <li><a href="#">Snow Cones & Shaved Ice</a></li>
          <li><a href="#">Fryers</a></li>
          <li><a href="#">Frozen Drinks/Frusheez&trade;</a></li>
          <li class="has-dropdown"><a href="#">Hot Dogs</a>
            <ul class="dropdown">
              <li><a href="#">Grillers</a></li>
              <li><a href="#">Steamers</a></li>
              <li><a href="#">Rotisserie</a></li>
            </ul>
          </li>
          <li><a href="#">Bakers</a></li>
          <li><a href="/machines/specialty">Specialty</a></li>
          <li class="has-dropdown"><a href="#">Warmers</a>
            <ul class="dropdown">
              <li><a href="#">Pizza</a></li>
              <li><a href="#">Pretzel</a></li>
              <li><a href="#">Nachos</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="/supplies">Supplies</a>
        <ul class="dropdown">
          <li><label>Concession/Snack Bar Supplies</label></li>
          <li><a href="/supplies/popcorn">Popcorn</a></li>
          <li><a href="/supplies/cotton-candy">Cotton Candy</a></li>
          <li><a href="/supplies/nachos">Nachos</a></li>
          <li><a href="/supplies/sno-kones-shaved-ice">Sno-Kones&reg; & Shaved Ice</a></li>
          <li><a href="/supplies/funnel-cake">Funnel Cake</a></li>
          <li><a href="/supplies/frozen-drinks">Frozen Drinks / Frusheez&trade;</a></li>
          <li><a href="/supplies/specialty">Specialty</a></li>
          <li><a href="/supplies/games">Games</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="/about">About</a>
        <ul class="dropdown">
          <li><a href="/locations">Warehouse Locations</a></li>
          <li><a href="/catalog">Catalog</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="tel:+1-800-287-2676">1-800-287-2676</a></li>
    </ul>
  </section>
</nav>
